.layout {
  display: flex;
  align-items: stretch;
  height: fit-content;
}

.content {
  flex: 1;
  min-width: 0;
  padding: 1rem 20px;
}

@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
}
