POSTGRES_VERSION=17
POSTGRES_CONTAINER_NAME=docky-postgres
POSTGRES_DB=btp_saas
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
BACKEND_CONTAINER_NAME=docky-backend
BACKEND_PORT=3000
