.chantier-form-type {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.chantier-form-type-select {
  flex: 1;
}

.chantier-form-new-type {
  display: flex;
  align-items: flex-end;
  gap: 0.5rem;
}

.chantier-form-new-type-input {
  flex: 1;
}

.chantier-form-adresse-toggle {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}
