nav {
  display: flex;
  gap: 1rem;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
}

nav > a,
nav > details > summary {
  padding: 0.5rem 0.75rem;
}

details {
  position: relative;
}

details > a {
  display: block;
  padding: 0.5rem 0.75rem;
}

details[open] > summary ~ a {
  margin-left: 0.5rem;
}
