@if (isAuthenticated()) {
  <nav>
    <button type="button" class="nav-bar__icon-link nav-bar__back" (click)="goBack()">
      <i class="pi pi-arrow-left"></i>
      <span class="nav-bar__tooltip">Retour</span>
    </button>

    @for (item of visibleNavItems(); track item.label) {
      @if (item.links.length > 1) {
        <details #group class="nav-bar__group">
          <summary class="nav-bar__icon-link">
            <i [class]="item.icon"></i>
            <span class="nav-bar__tooltip">{{ item.label }}</span>
          </summary>
          <div class="nav-bar__flyout">
            @for (link of item.links; track link.label) {
              <a [routerLink]="link.path" [queryParams]="link.queryParams" class="nav-bar__flyout-link" (click)="group.open = false">{{ link.label }}</a>
            }
          </div>
        </details>
      } @else {
        <a
          [routerLink]="item.links[0].path"
          [queryParams]="item.links[0].queryParams"
          class="nav-bar__icon-link"
        >
          <i [class]="item.icon"></i>
          <span class="nav-bar__tooltip">{{ item.label }}</span>
        </a>
      }
    }

    <div class="nav-bar__auth">
      @if (isImpersonating()) {
        <button type="button" class="nav-bar__icon-link nav-bar__impersonating" (click)="returnToPlatformView()">
          <i class="pi pi-sign-out"></i>
          <span class="nav-bar__tooltip">Retour vue plateforme</span>
        </button>
      }
      <a routerLink="/profile" class="nav-bar__icon-link">
        <i class="pi pi-user"></i>
        <span class="nav-bar__tooltip">{{ currentUser()?.email ?? 'Profil' }}</span>
      </a>
    </div>
  </nav>
}
